@import "../../styles/style";

@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

.banner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5rem;
  .banner-logo{
    width: 50%;
  }
  .scroll_button {
      padding: 70px;
      position: relative;
      .scroll_text {
        font-size: $mobile-title-size;
      }
      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
      }
    }
  
}
.characters_section {
  display: flex;
  flex-direction: column;
}

.card_title{
  align-self: center;
  margin: 1rem 0;
  font-size: 2.0rem;
  font-weight: 700;
}