@import "../../../styles/style";

.characters_wrapper{
  overflow: hidden;
  margin: 3rem 0;
  width: 60%;
  align-self: center;
  padding: 1rem 3.5rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .play_button{
    align-self: center;
    margin: 2.5rem 0;
  }
  .card_title{
    align-self: center;
    margin: 1rem 0;
    font-size: 2.0rem;
    font-weight: 700;
  }
  .characters_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    .single_character {
      width: 20%;
      height: 14.925rem;
    }   
  }
}

@media (max-width: $screen-tablet) {
  .banner_container {
    width: 85%;
    align-items: center;
    .banner-logo{
      width: 80%;
    }
  }
  .characters_wrapper{
    width: 100%;
    box-shadow: none;
    border: none;
    padding: 0;
    .characters_section{
      padding: 0.8rem;
      .single_character {
        width: 21%;
      }
      gap: 1rem;
    }
  }
}

@media (min-width: $screen-tablet) {
  .characters_wrapper{
    .characters_section{
      gap: 1.1rem 0rem;
    }
  }
}